/* Styles go here */
.spacer{
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1{
    background-image: url('../wave-haikei.svg');
}

.custom{
    background-color: #002233;
}

.custom-div{
    margin-top: 0;
}

.navbar {
    margin-bottom: 0px;
    border: 0;
}

.cusbg{
    background-color: #002233;
}

.MyDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-color{
    color: #c0c0c0;
}

.paytab{
    margin-top: 100px;
}

.n{
    margin-left: 700px;
    margin-right: 50px;
    padding-top: 10px;
    text-decoration: none;
    
}

.n::hover{
    color: #c0c0c0;
    text-decoration: none;
}

.l{
    color: white;
}

.custom-btn{
    margin-left:220px ;
    align-items: center;
}

.custom-span{
    margin-bottom:20px;
    color: black;
}

.b{
    color: black;
    margin-bottom: 5px;
}